body {
    align-content: center;
    text-align: center;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

.popup .popuptext .mainMenu {
    visibility: hidden;
}